{% extends 'base.html' %} {% load static %} {% block content %}
<section class="bg-black">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="text-center text-3xl font-semibold capitalize text-white lg:text-4xl"
      >
        Resources
      </h1>
      <p class="mt-4 text-center text-white">
        Here are all the resources and help you will need to reach and ace your
        goal.
      </p>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for resource in resources %}
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
          >
            <img
              alt="team"
              class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="{{ resource.image.url }}"
            />
            <div class="flex-grow sm:pl-8">
              <h2 class="text-gray-500 mb-3">{{ resource.topic }}</h2>
              <p class="text-white mb-4">{{ resource.description }}</p>
              <span class="inline-flex">
                <a
                  class="text-gray-500 inline-flex items-center"
                  href="{{ resource.url_link }}"
                  target="_blank"
                >Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
